.body,
.body * {
  box-sizing: border-box;
}
.body {
  width: 90.9375rem;
  height: 99.5rem;
  position: relative;
}
.rectangle-106 {
  background: #ffffff;
  border-radius: 0.5rem;
  width: 86.0625rem;
  height: 29.5625rem;
  position: absolute;
  left: 2.5625rem;
  top: 14.0625rem;
}
.top-bar {
  background: var(--neutral-01, #fcfcfc);
  padding: 1.5rem 1.8125rem 1.5rem 62.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 41.6875rem;
  position: absolute;
  right: 0.6875rem;
  left: -0.6875rem;
  top: 6.3125rem;
  box-shadow: inset 0.0625rem 0rem 0rem 0rem rgba(244, 244, 244, 1);
}
.right-block {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.earning-report {
  background: var(--neutral-01, #fcfcfc);
  border-radius: 0.5rem;
  padding: 0rem 0rem 1.5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 83.5625rem;
  position: absolute;
  left: 3.6875rem;
  top: 18.375rem;
  overflow: hidden;
}
.table-title {
  padding: 1rem 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.date {
  color: var(--neutral-04, #6f767e);
  text-align: left;
  font-family: var(--caption-2-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--caption-2-medium-font-size, 0.75rem);
  line-height: var(--caption-2-medium-line-height, 0.75rem);
  font-weight: var(--caption-2-medium-font-weight, 500);
  position: relative;
  width: 8.5rem;
}
.status {
  color: var(--neutral-04, #6f767e);
  text-align: left;
  font-family: var(--caption-2-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--caption-2-medium-font-size, 0.75rem);
  line-height: var(--caption-2-medium-line-height, 0.75rem);
  font-weight: var(--caption-2-medium-font-weight, 500);
  position: relative;
  width: 8.5rem;
}
.earnings {
  color: var(--neutral-04, #6f767e);
  text-align: left;
  font-family: var(--caption-2-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--caption-2-medium-font-size, 0.75rem);
  line-height: var(--caption-2-medium-line-height, 0.75rem);
  font-weight: var(--caption-2-medium-font-weight, 500);
  position: relative;
  width: 8.5rem;
}
.earning-row {
  background: rgba(244, 244, 244, 0.5);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 3rem;
  position: relative;
}
.frame-395 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.fri-apr-9-2021 {
  color: var(--neutral-04, #6f767e);
  text-align: left;
  font-family: var(--base-2-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--base-2-font-size, 0.875rem);
  line-height: var(--base-2-line-height, 1.5rem);
  font-weight: var(--base-2-font-weight, 600);
  position: relative;
  width: 8.5rem;
}
.frame-397 {
  flex-shrink: 0;
  width: 8.5rem;
  height: 2rem;
  position: relative;
}
.number {
  background: var(--neutral-shade-dark-04-40, rgba(111, 118, 126, 0.4));
  border-radius: 0.375rem;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0rem;
  top: calc(50% - 0.875rem);
  overflow: hidden;
}
.paid {
  color: var(--neutral-07, #1a1d1f);
  text-align: center;
  font-family: var(--base-2-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--base-2-font-size, 0.875rem);
  line-height: var(--base-2-line-height, 1.5rem);
  font-weight: var(--base-2-font-weight, 600);
  position: relative;
}
._140-00 {
  color: var(--neutral-07, #1a1d1f);
  text-align: left;
  font-family: var(--base-2-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--base-2-font-size, 0.875rem);
  line-height: var(--base-2-line-height, 1.5rem);
  font-weight: var(--base-2-font-weight, 600);
  position: relative;
  width: 8.5rem;
}
.earning-row2 {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 3rem;
  position: relative;
}
.number2 {
  background: var(--secondary-04, #60ca57);
  border-radius: 0.375rem;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0rem;
  top: calc(50% - 0.875rem);
  overflow: hidden;
}
.widget-title {
  display: flex;
  flex-direction: row;
  gap: 23.5625rem;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 3.6875rem;
  top: 15.25rem;
}
.title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.tag {
  background: var(--secondary-01, #999dff);
  border-radius: 0.25rem;
  flex-shrink: 0;
  width: 1rem;
  height: 2rem;
  position: relative;
  overflow: hidden;
}
.overview {
  color: var(--neutral-07, #1a1d1f);
  text-align: left;
  font-family: var(
    --title-1-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--title-1-semibold-font-size, 1.25rem);
  line-height: var(--title-1-semibold-line-height, 2rem);
  font-weight: var(--title-1-semibold-font-weight, 600);
  position: relative;
}
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 2.5rem;
  top: 8.5rem;
}
.payouts {
  color: var(--neutral-06, #272b30);
  text-align: left;
  font-family: var(--h-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--h-3-font-size, 2.5rem);
  line-height: var(--h-3-line-height, 3rem);
  font-weight: var(--h-3-font-weight, 600);
  position: relative;
}
